Source: e17
Section: x11
Priority: optional
Maintainer:  Debian Pkg-e Team <pkg-e-devel@lists.alioth.debian.org>
Build-Depends: debhelper (>= 5), cdbs, libeet-dev, libembryo-dev, libedje-dev, libedje-bin, libpam0g-dev, libefreet-dev, libefreet-mime-dev, libecore-evas-dev, libecore-imf-evas-dev, libecore-job-dev, libecore-txt-dev, libecore-ipc-dev, libecore-con-dev, libedbus-dev, libxext-dev
Standards-Version: 3.7.2

Package: enlightenment
Architecture: any
Recommends: libevas-loaders-all
Suggests: emodules-all
Depends: ${shlibs:Depends}, enlightenment-data (= ${source:Version}), libevas-loader-eet, libevas-loader-jpeg, libevas-loader-png, libevas-saver-eet, libevas-saver-jpeg, libevas-saver-png, libevas-engine-buffer, libevas-engine-software-x11
Provides: x-window-manager
Description: The Enlightenment DR17 Window Manager
 Enlightenment is an advanced window manager for X11. Unique
 features include: a fully animated background, nice drop shadows
 around windows, backed by an extremely clean and optimized
 foundation of APIs.
 .
 This package contains the core files for Enlightenment DR17.

Package: enlightenment-data
Architecture: all
Enhances: enlightenment (>= 0.16.999)
Description: Enlightenment Window Manager Run Time Data Files
 Enlightenment is an advanced window manager for X11. Unique
 features include: a fully animated background, nice drop shadows
 around windows, backed by an extremely clean and optimized
 foundation of APIs.
 .
 These are the architecture independent runtime support files for the
 Enlightenment Window Manager package.

Package: enlightenment-dev
Architecture: any
Section: devel
Depends: enlightenment (= ${binary:Version}), efl-dev
Description: Enlightenment headers, static libraries and documentation
 Enlightenment is an advanced window manager for X11. Unique
 features include: a fully animated background, nice drop shadows
 around windows, backed by an extremely clean and optimized
 foundation of APIs.
 .
 This package contains headers, static libraries and documentation for
 enlightenment.

Package: efl-dev
Architecture: any
Section: devel
Depends: libeet-dev, libevas-dev, libecore-dev, libedje-dev, libefreet-dev, libefreet-mime-dev, libecore-con-dev, libecore-evas-dev, libecore-file-dev, libecore-ipc-dev, libecore-job-dev, libecore-txt-dev, libecore-x-dev, libedbus-dev
Description: EFL headers, static libraries and documentation
 Enlightenment is an advanced window manager for X11. Unique
 features include: a fully animated background, nice drop shadows
 around windows, backed by an extremely clean and optimized
 foundation of APIs.
 .
 This package contains headers, static libraries and documentation for
 the enlightenment foundation librairies.

Package: enlightenment-dbg
Architecture: any
Section: devel
Depends: enlightenment (= ${binary:Version})
Priority: extra
Description: The Enlightenment DR17 Window Manager
 Enlightenment is an advanced window manager for X11. Unique
 features include: a fully animated background, nice drop shadows
 around windows, backed by an extremely clean and optimized
 foundation of APIs
 .
 This package contains unstripped shared libraries. It is provided primarily
 to provide a backtrace with names in a debugger, this makes it somewhat
 easier to interpret core dumps. The libraries are installed in
 /usr/lib/debug and are automatically used by gdb.
