#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk

install/enlightenment-data::
	gzip -9 debian/tmp/usr/share/enlightenment/doc/*.txt
	rm debian/tmp/usr/share/enlightenment/COPYING
	rm debian/tmp/usr/share/enlightenment/data/fonts/Vera.COPYING

install/enlightenment::
	rm -r debian/tmp/usr/lib/enlightenment/modules/layout
	rm -r debian/tmp/usr/lib/enlightenment/modules/wizard

DEB_DH_STRIP_ARGS := --dbg-package=enlightenment-dbg
DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath
